

.about-me {

	position: relative;
}


.about-me__description {

	width: 50%;
	margin-right: 318px;
}

.welcome-title {

	padding-bottom: 26px;
}

.title-hey {

	color: #2b2a2c;
	font-size: 32px;
	font-weight: 400;
	line-height: 15px;
	padding-bottom: 15px;
}

.name-title {

	color: #2b2a2c;
	font-size: 45px;
	font-weight: 700;
	line-height: 48px;
	padding-bottom: 8px;
}

.description-work {

	border-bottom: 2px solid black;
	width: 60%;
	padding-bottom: 5px;
}

.description-work-site {

	color: #6a696b;
	font-size: 18px;
	font-weight: 400;
	line-height: 15px;
}

.social {

	padding-bottom: 42px;
}

.social-buttons {

	display: flex;
}

.button-write {

	color: #ffffff;
	font-size: 16px;
	font-weight: 800;
	line-height: 15px;
	letter-spacing: 0.8px;
	padding: 20px 34px;
	border-radius: 25px;
	margin-right: 17px;
	cursor: pointer;
	background-color: #1D0E38;
	border: 2px solid #101214;
}

.button-write:hover {
	
	background-color: #E46121;
	box-shadow: 0px 0px 8px 2px #FE012E;
}

.button-write:focus {

	outline: none;
}

.button-about_me {

	color: #4A494B;
	font-size: 16px;
	font-weight: 800;
	line-height: 15px;
	letter-spacing: 0.8px;
	border-radius: 25px;
	padding: 20px 43px;
	border:none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	border: 2px solid #101214;
}

.button-about_me:hover {

	background-color: #46BF55;
	box-shadow: 0px 0px 8px 2px #FE012E;
}

.button-about_me:focus {

	outline: none;
}

.about-me-img {
	
	width: 368px;
	height: 493px;
	background-image: url(../images/filin_2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
