.about-me {

	position: relative;
	margin-bottom: 91px;
	color: #fff;
}


.about-me__description {

	width: 50%;
	margin-right: 318px;
	margin-bottom: 260px;
}

.welcome-title {

	padding-bottom: 26px;
}

.title-hey {

	font-size: 32px;
	font-weight: 400;
	line-height: 15px;
	padding-bottom: 15px;
}

.name-title {

	font-size: 45px;
	font-weight: 700;
	line-height: 48px;
	padding-bottom: 8px;
}

.description-work {

	border-bottom: 2px solid black;
	width: 60%;
	padding-bottom: 5px;
}

.description-work-site {

	color: #CFC8D6;
	font-size: 18px;
	font-weight: 400;
	line-height: 15px;
}

.social-list {
	display: flex;
	position: relative;
	margin-bottom: 25px;
}

.social {
	display: flex;
	width: 10%;
	height: 25px;
	border-radius: 15%;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	font-size: 18px;
}

.vk {
	
	background-color: #4d75a2;
	color: #fff;
	transition: all 0.2s ease-in-out;
}

.vk:hover {
	
	background-color: #6E25DC;
}

.vk:active {
	
	transform: scale(0.95);
}

.inst {
	
	background-color: #4169E1;
	color: #fff;
	transition: all 0.2s ease-in-out;
}

.inst:hover {
	
	background-color: #345D9A;
	color: #38CADB;
}

.inst:active {
	
	transform: scale(0.95);
}

.ggl {
	
	background-color: #F80E0E;
	color: #fff;
	transition: all 0.2s ease-in-out;
}

.ggl:hover {
	
	background-color: #AC0909;
}

.ggl:active {
	
	transform: scale(0.95);
}

.github {
	
	background-color: #000;
	color: #fff;
	transition: all 0.2s ease-in-out;
}

.github:hover {
	
	background-color: #2F2929;
}

.github:active {
	
	transform: scale(0.95);
}

.social-buttons {

	display: flex;
}

.button-write {

	color: #ffffff;
	font-size: 16px;
	font-weight: 800;
	line-height: 15px;
	letter-spacing: 0.8px;
	padding: 20px 34px;
	border-radius: 25px;
	margin-right: 17px;
	cursor: pointer;
	background-color: #1D0E38;
	border: 2px solid #101214;
	transition: all 0.5s ease-in-out;
}

.button-write:hover {
	
	background-color: #E46121;
	box-shadow: 0px 0px 8px 2px #FE012E;
}

.button-write:focus {

	outline: none;
}

.button-write:active {
	
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

.button-about_me {

	color: #000;
	background-color: #EFF3F4;
	font-size: 16px;
	font-weight: 800;
	line-height: 15px;
	letter-spacing: 0.8px;
	border-radius: 25px;
	padding: 20px 43px;
	border:none;
	outline: none;
	cursor: pointer;
	border: 2px solid #101214;
	transition: all 0.5s ease-in-out;
}

.button-about_me:hover {

	background-color: #0000FF;
	color: #fff;
	box-shadow: 0px 0px 8px 2px #FE012E;
}

.button-about_me:focus {

	outline: none;
}

.button-about_me:active {

   top: .1em;
   left: .1em;
   box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

