

.about-me {

	position: relative;
}


.about-me__description {

	width: 50%;
}

.about-me-img {

	width: 50%;
	position: absolute;
	background-image: url(../images/filin.jpg);
	background-repeat: no-repeat;
	background-size: 368px 493px;
	background-position: center;
}

.welcome-title {

	padding-bottom: 26px;
}

.title-hey {

	color: #2b2a2c;
	font-size: 32px;
	font-weight: 400;
	line-height: 15px;
	padding-bottom: 15px;
}

.name-title {

	color: #2b2a2c;
	font-size: 45px;
	font-weight: 700;
	line-height: 48px;
	padding-bottom: 8px;
}

.description-work {

	border-bottom: 2px solid black;
	width: 60%;
	padding-bottom: 5px;
}

.description-work-site {

	color: #6a696b;
	font-size: 18px;
	font-weight: 400;
	line-height: 15px;
}

.social {

	padding-bottom: 42px;
}

.social-buttons {

	display: flex;
}

.button-write {

	color: #ffffff;
	font-size: 16px;
	font-weight: 800;
	line-height: 15px;
	letter-spacing: 0.8px;
	padding: 20px 34px;
	border-radius: 25px;
	border: 1px solid #6a696b;
	margin-right: 17px;
}

.button-about_me {

	color: #6a696b;
	font-size: 16px;
	font-weight: 800;
	line-height: 15px;
	letter-spacing: 0.8px;
	border-radius: 25px;
	border: 1px solid #6a696b;
	padding: 20px 43px;
}