header {

	padding-top: 18px;
	padding-bottom: 112px;
}

.menu {

	display: flex;
	justify-content: space-between;
	align-items: center;

}

.menu-logo {

	display: flex;
	align-items: center;
}

.avatar {

	width: 57px;
	height: 57px;
	border-radius: 50%;
	background-color: transparent;
	background-image: url(../images/logo.png);
	background-size: cover;
}

.description {

	margin-left: 9px;
}

.name {

	display: block;
	color: #2b2a2c;
	font-size: 16px;
	font-weight: 800;
	line-height: 15px;

}

.menu-list {

	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	font-weight: 800;
	line-height: 16.84px;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	list-style-type: none; 
	
	
}

.menu-list a {

	margin-right: 34px;
}

.menu-button {

	color: #2b2a2c;
	font-size: 14px;
	font-weight: 800;
	line-height: 16.84px;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	border-radius: 19px;
	border: 2px solid #2b2a2c;
	padding: 13px 23px;
	background-color: transparent;
	cursor: pointer;
}

.menu-button:hover {

	background-color: rgba(20, 11, 54, 0.75);
	box-shadow: 0px 0px 8px 2px #FE012E;
	color: #ffc64d;
}
.menu-button:focus {

	outline: none;
}

