header {

	padding-top: 18px;
}

.menu {

	display: flex;
	justify-content: space-between;
	align-items: center;

}

.menu-logo {

	display: flex;
	align-items: center;
}

.avatar {

	width: 57px;
	height: 57px;
	border-radius: 50%;
	background-color: #000;
}

.description {

	margin-left: 9px;
}

.name {

	display: block;
	color: #2b2a2c;
	font-size: 16px;
	font-weight: 800;
	line-height: 15px;

}

.menu-list {

	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	font-weight: 800;
	line-height: 16.84px;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	list-style-type: none; 
	border: 1px solid red;
	
}

.menu-list a {

	margin-right: 34px;
}

.menu-button {

	color: #2b2a2c;
	font-size: 14px;
	font-weight: 800;
	line-height: 16.84px;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	border-radius: 19px;
	border: 2px solid #2b2a2c;
	padding: 13px 23px;
	background-color: transparent;
	cursor: pointer;
}

