* {

	box-sizing: border-box;
}

.bgForTwoSection {
	
	background-image: url(../images/bg-3_comp.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

body {

	min-width: 320px;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #F2F9F9;
}

/*.about-me-img {
	
	width: 250px;
	height: 250px;
	border-radius: 50%;
	top: 30%;
	left: 85%;
	transform: translate(-50%, 0);
	position: absolute;
	background-image: url(../images/я.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}*/

.container {

	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1172px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

a {

	text-decoration: none;
	color:#000;
}

.menu-list nav a {
	
	display: inline-block;
	text-decoration: none;
	color: #fff;
	position: relative;
}

.menu-list nav a:after {

	content: "";
	width: 0%;
	height: 2px;
	left: 50%;
	display: block;
	background-color: #F77E06;
    transition: width .3s ease-in-out;
    position: absolute;
    transform: translateX(-50%);
}

 .menu-list nav a:hover:after,
 .menu-list nav a:focus:after {
	
	background-color: #230F48;
	width: 100%;
}

/* ------------для нижнего меню-------------- */

.menu-list-bottom nav a {
	
	display: inline-block;
	text-decoration: none;
	color: #8D8D8E;
	position: relative;
}

.menu-list-bottom nav a:after {

	content: "";
	width: 0%;
	height: 2px;
	left: 50%;
	display: block;
	background-color: #F5C007;
    transition: width .3s ease-in-out;
    position: absolute;
    transform: translateX(-50%);
}

 .menu-list-bottom nav a:hover:after,
 .menu-list-bottom nav a:focus:after {

	width: 100%;
	background-color: #2C7174;
}


/* ------------- MEDIA -----------------*/

/*---------- MEDIA for 320px ----------*/

/* @media (max-width: 319px) {
	
	.bgForTwoSection {
	
	background-image: url(../images/bg-3_comp.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

} */